<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556353258296-vf6186ps29ocd8lt4eatlg478dvdpl8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556353258296-vf6186ps29ocd8lt4eatlg478dvdpl8n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556353258296-6g4ni0lidp42ehkvil1jeue7s11alqq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_whN3EHqrILWwfwQoRc_UzQROTdg7a28</string>
	<key>GCM_SENDER_ID</key>
	<string>556353258296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.receipto.app</string>
	<key>PROJECT_ID</key>
	<string>receipto-48592</string>
	<key>STORAGE_BUCKET</key>
	<string>receipto-48592.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556353258296:ios:7e306716e21427c04c37cd</string>
</dict>
</plist>